<div class="container">
 <div class="row">
   <div class="mx-auto">
    <h4 class= "my-5">会員情報編集</h4>
      <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>

   <div class="row">
    <div class="col-md-2">
     プロフィール画像
    </div>
    <div class="col-md-3">
     <%= f.file_field :image, accept: "image/*" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-2">
     氏名
    </div>
    <div class="col-md-3">
     <%= f.text_field :name %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-3 my-1">
     自己紹介
    </div>
    <div class="col-md-3">
     <%= f.text_area :introduction %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-3 my-1">
     メールアドレス
    </div>
    <div class="col-md-3 my-1">
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
   </div>
   <div class="col-md-9 offset-md-3 row">
    <div>
    <%= f.submit "編集内容を保存",class:"btn btn-success" %>
    </div>
    <div class="offset-md-2">
    <%= link_to "退会する", withdraw_customers_path,class:"btn btn-danger" %>
    </div>
   </div>
  <% end %>

  </div>
 </div>
</div>
