<div class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="text-right mt-4">
          <%= form_with url: posts_path, local: true, method: :get do |form| %>
            <%= form.text_field :keyword %>
            <%= form.submit '検索' %>
          <% end %>
        </div>
        <h3 class= "mt-3 mb-5 text-center">投稿一覧</h3>
        <div class="row justify-content-between">
          <% posts.each do |post| %>
          <div class="card mb-5" style="width: 20rem;">
            <%= image_tag post.images[0] %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to post_path(post.id) do %>
                    <%= post.title %>
                  <% end %>
                </h5>
                <div>
                  <%= link_to posts_path(genre_id: post.genre_id) do %>
                    <%= post.genre.name %>
                  <% end %>
                </div>
                <p class="card-text"><%= post.text.truncate(40) %></p>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= paginate @posts %>
  </div>
</div>
