

<%= @post.title %>
<%= @post.text %>

<% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
    <% end %>
  <% end %>


  <% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to  post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to  post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>



  <% if current_customer.following?(@post.customer) %>
  <%= link_to "フォロー外す", customer_follows_path(@post.customer.id), method: :delete %>
  <% else %>
  <%= link_to "フォローする", customer_follows_path(@post.customer.id), method: :post %>
  <% end %>

  <div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(50,50) %></p>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.customer == current_customer %>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>