<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h4 class= "mt-3 mb-5">
    <%= @customer.name %>
    さんの会員詳細
   </h4>

    <div class="row">
     <div class="col-md-2 mb-2">
      会員ID
     </div>
     <div class="col-md-5">
      <%= @customer.id %>
     </div>
   </div>

   <div class="row">
    <div class="col-md-2 my-1">
     ニックネーム
    </div>
    <div class="col-md-3 my-1">
     <%= @customer.name %>
    </div>
   </div>

   <div class="row">
    <div class="col-md-2 my-1">
     自己紹介
    </div>
    <div class="col-md-3 my-1">
     <%= @customer.introduction %>
    </div>
   </div>

   <div class="row">
    <div class="col-md-2 my-1">
     メールアドレス
    </div>
    <div class="col-md-3 my-1">
     <%= @customer.email %>
    </div>
   </div>

   <div class="row">
    <div class="col-md-2 my-1">
    会員ステータス
    </div>
    <div class="col-md-3 my-1 row">
      <% if @customer.is_deleted == false %>
          有効
      <% elsif @customer.is_deleted == true %>
         退会
     <% end %>
    </div>

  </div>
</div>
</div>